<div class="card">  
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 left-contact-bar">
        <i class="fas fa-user"></i>
      </div>
      <div class="col-10">
        <p class="id">ID: {{contact.id}}</p>
        <p class="name">{{contact.name}}</p>
        <p class="lastname">{{contact.lastName}}</p>
        <div class="delete " (click)='deleteContact(contact.id)'>
          <i class="far fa-tra sh-alt"></i>
          DELETE CONTACT
        </div>
      </div>         
    </div>
  </div> 
</div>
